* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
input {
  outline: none;
}
body {
  display: flex;
  padding-top: 200px;
  align-items: flex-start;
  justify-content: center;
}
.validate-form {
  /* width: 300px; */
}
.validate-form input {
  width: 300px;
  height: 30px;
  padding: 0 10px;
  margin: 14px 0;
}
button {
  width: 300px;
  padding: 5px 0;
}
.options, .validate-form {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 10px;
}
.options {
  margin: 20px;
}
.options .item {
  margin: 5px;
}
.options .title {
  display: inline-block;
  width: 110px;
}
.options label {
  display: inline-block;
  width: 80px;
}
